<?xml version="1.0" encoding="utf-8"?>

<!-- https://learn.microsoft.com/zh-tw/nuget/reference/nuget-config-file -->
<configuration>
	<packageSources>
		<clear />

		<!-- 離線套件來源，請確認路徑正確且有對應的套件 -->
		<add key="OfflineNuGet" value="D:\OfflineNuGet" />

		<!-- 官方 NuGet 套件來源 (如果臨時要取用官方套件時，可暫時取消註解，不用時建議註解掉，免得版本亂掉 -->
		<!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> -->
	</packageSources>
</configuration>
